@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
}.flaticon-acoustic2:before {
	content: "\e000";
}
.flaticon-agave:before {
	content: "\e001";
}
.flaticon-ancient4:before {
	content: "\e002";
}
.flaticon-animal21:before {
	content: "\e003";
}
.flaticon-artisanal1:before {
	content: "\e004";
}
.flaticon-artisanal2:before {
	content: "\e005";
}
.flaticon-artisanal3:before {
	content: "\e006";
}
.flaticon-artisanal4:before {
	content: "\e007";
}
.flaticon-artisanal:before {
	content: "\e008";
}
.flaticon-avocado1:before {
	content: "\e009";
}
.flaticon-aztec:before {
	content: "\e00a";
}
.flaticon-bread7:before {
	content: "\e00b";
}
.flaticon-cactus3:before {
	content: "\e00c";
}
.flaticon-cane:before {
	content: "\e00d";
}
.flaticon-chihuahua:before {
	content: "\e00e";
}
.flaticon-chili1:before {
	content: "\e00f";
}
.flaticon-chilis:before {
	content: "\e010";
}
.flaticon-chili:before {
	content: "\e011";
}
.flaticon-cob1:before {
	content: "\e012";
}
.flaticon-fighter6:before {
	content: "\e013";
}
.flaticon-flower98:before {
	content: "\e014";
}
.flaticon-gecko:before {
	content: "\e015";
}
.flaticon-greek11:before {
	content: "\e016";
}
.flaticon-guacamole1:before {
	content: "\e017";
}
.flaticon-guacamole:before {
	content: "\e018";
}
.flaticon-hat9:before {
	content: "\e019";
}
.flaticon-horseman1:before {
	content: "\e01a";
}
.flaticon-horseman:before {
	content: "\e01b";
}
.flaticon-huarache:before {
	content: "\e01c";
}
.flaticon-maracas4:before {
	content: "\e01d";
}
.flaticon-margarita1:before {
	content: "\e01e";
}
.flaticon-mayan1:before {
	content: "\e01f";
}
.flaticon-mayan:before {
	content: "\e020";
}
.flaticon-mexican5:before {
	content: "\e021";
}
.flaticon-mexican6:before {
	content: "\e022";
}
.flaticon-mexican7:before {
	content: "\e023";
}
.flaticon-mexico1:before {
	content: "\e024";
}
.flaticon-molcajete:before {
	content: "\e025";
}
.flaticon-nopal:before {
	content: "\e026";
}
.flaticon-olmeca:before {
	content: "\e027";
}
.flaticon-papantla:before {
	content: "\e028";
}
.flaticon-pedernal:before {
	content: "\e029";
}
.flaticon-piata:before {
	content: "\e02a";
}
.flaticon-sauce1:before {
	content: "\e02b";
}
.flaticon-skull23:before {
	content: "\e02c";
}
.flaticon-solid21:before {
	content: "\e02d";
}
.flaticon-spin:before {
	content: "\e02e";
}
.flaticon-stone:before {
	content: "\e02f";
}
.flaticon-sun61:before {
	content: "\e030";
}
.flaticon-sun62:before {
	content: "\e031";
}
.flaticon-tacos:before {
	content: "\e032";
}
.flaticon-taco:before {
	content: "\e033";
}
.flaticon-tapestry:before {
	content: "\e034";
}
.flaticon-tequila:before {
	content: "\e035";
}
.flaticon-totopos:before {
	content: "\e036";
}
.flaticon-trajinera:before {
	content: "\e037";
}
.flaticon-turkey5:before {
	content: "\e038";
}
.flaticon-volute:before {
	content: "\e039";
}
.flaticon-zarape:before {
	content: "\e03a";
}
